a {
  text-decoration: none;
  color: black;
  padding-inline: 10px;
}

.bg-image {
  background-image: url(whiskey.jpg);
  min-height: 80dvh;
  background-size: cover;
  background-position: right;
}

.crown-padding {
  padding-left: 200px;
}

.paragraph-padding {
  padding: 100px;
}

.fancy-font {
  font-family: 'Times New Roman', Times, serif;
}